In [82]:
import numpy as np # calculations with arrays
import pandas as pd # user-friendly DataFrames for data representation
import sklearn # machine learning algorithms
from sklearn import ensemble, linear_model
from sklearn.metrics import log_loss
from sklearn import svm

import matplotlib.pyplot as plt # import plot functions
# necessary to plot in jupyter notebook:
%matplotlib inline
import seaborn as sns # make plots beautiful

In [10]:
train = pd.read_csv('train2.csv')
test = pd.read_csv('test2.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [9]:
train[:1]

   year  day  team1  team2  score1  score2 target
0  2998   19    317    131     336     278   True

In [12]:
test[:1]

   Id  year  team1  team2
0   0  3021    363    161

In [13]:
sample_submission[:1]

   Id  target
0   0     0.5

In [76]:
for c in train.columns:
    print c, train[c].unique()[:10000]

year [2998 2999 3000 3001 3002 3003 3004 3005 3006 3007 3008 3009 3010 3011 3012
 3013 3014 3015 3016 3017 3018 3019]
day [ 19  28  30  31  33  35  37  38  40  42  44  46  47  49  51  53  54  56
  58  60  61  63  65  67  69  70  72  74  76  77  79  81  83  84  86  93
  95  97  99 100 104 106 107 109 111 113 115 116 118 120 122 123 125 127
 129 130 132 134 136 138 139 141 143 145 146 148 150 152 153 155 157 159
 161 162 164 166 168 169 171 173 175 177 178 180 182 184 185 187 189 191
 192 194 196 198 200 201 203 205 207 208 210 212 214 215 217 219 221 223
 224 226 228 230 231 233  88  90 102  92  26  21  23  24  17  14  15   0
   1   3   5   7   8  10  12]
team1 [317  61 110 352 229 164 184 245 300  10  39 205  47 180  53  63  82 265
  70 150 188 161 241 273 232 201 207 146 206 234 260 250 283 302 291 272
 351 159 295 308  48  59   4  14  65 310 287  38  78  50  96 104 198 337
 134 320 327 157 163 168 192 204 217 220 237 248 268 285 249 126 326 331
 129 334  92 347 322 158 353 160 361 135 336  54  69  16  43  51  32 254
  60  68  73 191  87 132  90  91  11 202  80 177 179  45 325 208 128 274
 303 211 323 299 356 344 355 269  29 259  13 258  35  31  33 329  64 133
 124 139 173 142 178  17 185 210 226 228 238 209 239 100 278 293 247 321
  74 187 122 236 244 256 275 312 196  56 172 288  85  26 101 111 118 174
 182 339  20 316 262 328 338 340 190  19 218  30 175  55  81  83 102 116
 120  57 319 151 233 181 186 281 306 221 364 148 357 193 286 230  44 284
 290 314 153 324 121 348 358 362 108 214   6 141 156 169  58 335 112 167
 264 165 305 343 342  72  23 298 131 145  97 243 318  99 296 360 301  52
  71 271 225 106  40 223 276 297 107 350 252 154 166 235 311 289  84 138
 341   3  12  41  49 222 143  66 251 253  22  37 219 261 109  98   8  75
 263 147 333  93 282 103  77 176 170 280  79 125  34  86 279 309 149 117
   2  24 171 183 349 199 354 363 127  62 304 231 307  94  42 114 359 140
 213 246 137  15 240  76   7 257  89 292   5 224  25 119  27 189 315 136
 266 294 105  28 152 194 155 330 313 255 144 195 216 212  46 345 123 267
 242  95 200  67 215  88  36 270 277 203 197]
team2 [131  29 141 146  91 238 243  23 349 110 245 310  69  43 112  51  22 116
 312 101 125 117 158 319 166 169 185  98 126 244 249 261 264 271 274 278
 281 288 290 268 259 350 363  72   8  19  33  45  48  52  10  58  97  26
 120 122 171 142 143 124 219 191  17 258 207 303 318 234 139 218 210 295
 328 311 333   2 344 251 348 269 358 156 184 214 256 178  24 188 153 354
  92  56  57 306 262  75  81  83 297 104 127 150 170 149 138 181 204 298
 236  13 260 301 196 308 322 335 148 338 160 361   6  30  37 223  40 154
 357  78  82  96  99 108 342  66  14  62 177 183 106 263 283 175 276 229
 233  86 248  65 309 341 282 111 305   4 291 192  38 300 343 279 190  12
  77  80 100 186 147 163 180 211 250 285 135  44 326 235 351   3 340  34
  53 187 316 202  84  87 173 103 299  71 164 128 241  73  85 225 237 133
 253 254  60 321 317 161  70  93 198 239  59 265  16 206  50  63 230 209
 176 199 221 222 132 252 273 325 352 356  68 337  79 159 172 293 208  32
  20  41  49 226 284 334 339 327  39  64 157 324 323 201 280 314 174 134
 193 165 360 145 121  47  55 355 220 320 362 205 228 302 364 129 275 286
  61 329 353 109  54 107 247  74 296 118 232 102 182 287 289 217 151 179
 272 336  11  90  35  31 167 168 331 347 304  94 307 231  42 114 359 140
 213  15  76 240 137 246 224  25   5 292 257   7 119  89 315 189  27 136
 294 105  28 152 266 194 155 330 313 255 144 195 216 345 212  46  67 200
 242 267  95 123  88 277  36 270 215 203 197]
score1 [336 301 359 309 332 236 181 216 402 259 294 220 282 317 406 417 263 390
 425 297 212 228 150 433 305 232 290 239 274 348 201 205 313 278 208 429
 189 224 251 394 321 352 328 325 247 255 371 441 356 375 185 193 286 267
 162 344 410 166 270 414 367 363 445 243 398 340 464 197 456 448 379 421
 476 383 437 387 143 158 178 170 147 139 487 154 468 483 174 460 452 135
 472 534 526 565 553 599 491 499 503 479 603 572 530 541 495 545 108 116
 131 123  81 127 592 112 104 510 506 119 514  89 549  92  85 100  96]
score2 [278 259 267 410 220 224 185 321 325 178 232 352 398 328 297 305 448 286
 541 294 379 363 301 356 340 383 243 402 247 228 216 348 336 317 263 255
 282 472 205 162 290 239 367 208 344 375 193 189 309 313 270 170 390 212
 359 251 274 371 197 150 387 464 236 174 406 332 143 201 437 181 421 417
 394 476 495 479 425 166 433 139 429 441 135 414 460 491 456 452 557 615
 131 445 154 119  96 112 104 127 158 499 147 468 510 580 487 123 506 537
 549 483 518 514 100 553 503  92  81 116 108  77  85]
target [True False]

In [16]:
train.shape

(101609, 7)

In [17]:
from sklearn.cross_validation import ShuffleSplit

for itr, ite in ShuffleSplit(len(train), n_iter=1, train_size=0.4, test_size=0.1, random_state=0):
    pass

In [20]:
len(itr),len(ite)

(40643, 10161)

In [26]:
itr[0:5]

array([22710, 41665, 91975, 57348, 39931])

In [32]:
sample_submission[999:1000]

      Id  target
999  999     0.5

In [33]:
features = []
for c in train.columns:
    if c in test.columns and c!='target':
        features += [c]
        print '"{}" is present in test and train'.format(c)
    else:
        print '"{}" is NOT present in test'.format(c)
        
features

"year" is present in test and train
"day" is NOT present in test
"team1" is present in test and train
"team2" is present in test and train
"score1" is NOT present in test
"score2" is NOT present in test
"target" is NOT present in test

['year', 'team1', 'team2']

In [35]:
xtrain=train.loc[itr,features]
ytrain=train.loc[itr,'target']

xval=train.loc[ite,features]
yval=train.loc[ite,'target']

In [38]:
train.target.mean()

0.50096940231672393

In [39]:
constant_prediction = yval * 0 + train.target.mean()
constant_prediction = constant_prediction.values
constant_prediction

array([ 0.5009694,  0.5009694,  0.5009694, ...,  0.5009694,  0.5009694,
        0.5009694])

In [40]:
log_loss(yval,constant_prediction)

0.6931565015839517

In [42]:
submission = sample_submission.copy()
submission.target = train['target'].mean() # notice here that we can refer to a column 'target' in two ways
submission.to_csv('constant_submission.csv', index=False)

In [77]:
alg = linear_model.LogisticRegression(C=1,penalty='l2')
alg.fit(xtrain, ytrain)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [78]:
prediction = alg.predict_proba(xval)[:,1]

In [79]:

log_loss(yval, prediction)

0.69278081748011511

In [62]:
?linear_model.LogisticRegression

In [ ]:
alg=svm.SVC()
alg.fit(xtrain, ytrain)