In [214]:
import pandas as pd
import numpy as np
import re

In [18]:
data=pd.read_csv('C:/Users/xx/Downloads/_ea07570741a3ec966e284208f588e50e_titanic (2).csv',index_col='PassengerId')

In [19]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [163]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [29]:
data['Pclass'].value_counts(1)

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [164]:
data['Survived'].value_counts(1)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [22]:
data['Survived'].mean()

0.3838383838383838

In [31]:
data['Age'].mean()

29.69911764705882

In [33]:
data['Age'].median()

28.0

In [50]:
data.SibSp.corr(data.Parch,method='pearson')

0.41483769862015663

In [60]:
r=((data['SibSp']-data['SibSp'].mean())*(data['Parch']-data['Parch'].mean())).sum()/(np.sqrt(((data['SibSp']-data['SibSp'].mean())**2).sum()*((data['Parch']-data['Parch'].mean())**2).sum()))

In [61]:
print r

0.41483769862

In [191]:
m= data[data['Sex'] == 'female']['Name']
for st in m:
    print st

Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
McGowan, Miss. Anna "Annie"
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
O'Dwyer, Miss. Ellen "Nellie"
Spencer, Mrs. William Augustus (Marie Eugenie)
Glynn, Miss. Mary Agatha
Vander Planke, Miss. Augusta Maria
Nicola-Yarred, Miss. Jamila
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Laroche, Miss. Simonne Marie Anne Andree
Devaney, Miss. Margaret Delia
O'Driscoll, Miss. Bridget
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Rugg, Miss. Emily
West, Miss. Constance Mirium
Icard, Miss. Amelie
Nye, Mrs. (Elizabeth Ramell)
Andersson, Miss. Erna Alexandra
Goodwin, Miss. Lillian Amy
Dowdell, Miss. Elizabeth
McDermott, Miss. Brigdet Delia
Ilett, Miss. Bertha
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Fortune, Miss. Mabel Helen
Doling, Mrs. John T (Ada Julia Bone)
Petranec, Miss. Matilda
Salkjelsvik, Miss. Anna Kristine
Moran, Miss. Bertha
Zabour, Miss. Hileni
Jussila, Miss. Katriina
Attalah, Miss. Malake
Andersson, Miss. Ellis Anna Maria
Webber, Miss. Susan
Peter, Miss. Anna
Robins, Mrs. Alexander A (Grace Charity Laury)
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Newsom, Miss. Helen Monypeny
Boulos, Mrs. Joseph (Sultana)
Nysten, Miss. Anna Sofia
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Ford, Miss. Robina Maggie "Ruby"
Pears, Mrs. Thomas (Edith Wearne)
Gilnagh, Miss. Katherine "Katie"
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Chibnall, Mrs. (Edith Martha Bowerman)
Skoog, Mrs. William (Anna Bernhardina Karlsson)
Johnson, Miss. Eleanor Ileen
Isham, Miss. Ann Elizabeth
Sage, Miss. Constance Gladys
Kink-Heilmann, Miss. Luise Gretchen
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Pinsky, Mrs. (Rosa)
Andersen-Jensen, Miss. Carla Christine Nielsine
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Madigan, Miss. Margaret "Maggie"
Yrois, Miss. Henriette ("Mrs Harbeck")
Strom, Miss. Telma Matilda
Carr, Miss. Helen "Ellen"
Cameron, Miss. Clear Annie
Newell, Miss. Madeleine
Honkanen, Miss. Eliina
Bazzani, Miss. Albina
Lefebre, Miss. Mathilde
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Asplund, Miss. Lillian Gertrud
Harknett, Miss. Alice Phoebe
Collyer, Miss. Marjorie "Lottie"
Zabour, Miss. Thamine
Murphy, Miss. Katherine "Kate"
Lindahl, Miss. Agda Thorilda Viktoria
Hamalainen, Mrs. William (Anna)
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Touma, Mrs. Darwis (Hanne Youssef Razi)
Thorne, Mrs. Gertrude Maybelle
Cherry, Miss. Gladys
Ward, Miss. Anna
Parrish, Mrs. (Lutie Davis)
Henry, Miss. Delia
Graham, Mrs. William Thompson (Edith Junkins)
Bissette, Miss. Amelia
Mellinger, Mrs. (Elizabeth Anne Maidment)
Healy, Miss. Hanora "Nora"
Andrews, Miss. Kornelia Theodosia
Lindblom, Miss. Augusta Charlotta
Abbott, Mrs. Stanton (Rosa Hunt)
Connolly, Miss. Kate
Barber, Miss. Ellen "Nellie"
Bishop, Mrs. Dickinson H (Helen Walton)
Haas, Miss. Aloisia
Allison, Miss. Helen Loraine
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Kelly, Miss. Anna Katherine "Annie Kate"
Keane, Miss. Nora A
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Lahtinen, Mrs. William (Anna Sylfven)
Nilsson, Miss. Helmina Josefina
Kantor, Mrs. Sinai (Miriam Sternin)
Wick, Miss. Mary Natalie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Slayter, Miss. Hilda Mary
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Young, Miss. Marie Grice
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Hippach, Miss. Jean Gertrude
McCoy, Miss. Agnes
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Burns, Miss. Elizabeth Margaret
Fortune, Miss. Alice Elizabeth
Brown, Miss. Amelia "Mildred"
Smith, Miss. Marion Elsie
Davison, Mrs. Thomas Henry (Mary E Finck)
Bowerman, Miss. Elsie Edith
Funk, Miss. Annie Clemmer
McGovern, Miss. Mary
Mockler, Miss. Helen Mary "Ellie"
Barbara, Mrs. (Catherine David)
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Jermyn, Miss. Annie
Aubart, Mme. Leontine Pauline
Palsson, Miss. Stina Viola
Meyer, Mrs. Edgar Joseph (Leila Saks)
Landergren, Miss. Aurora Adelia
Bidois, Miss. Rosalie
Nakid, Miss. Maria ("Mary")
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Buss, Miss. Kate
Lehmann, Miss. Bertha
Newell, Miss. Marjorie
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Olsson, Miss. Elina
Trout, Mrs. William H (Jessie L)
Jussila, Miss. Mari Aina
Oreskovic, Miss. Marija
Lefebre, Miss. Ida
Minahan, Miss. Daisy E
Meek, Mrs. Thomas (Annie Louise Rowley)
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Silven, Miss. Lyyli Karoliina
Van Impe, Miss. Catharina
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Carter, Miss. Lucile Polk
Ford, Miss. Doolina Margaret "Daisy"
Richards, Mrs. Sidney (Emily Hocking)
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Reynaldo, Ms. Encarnacion
Mellinger, Miss. Madeleine Violet
Baclini, Miss. Marie Catherine
Kenyon, Mrs. Frederick R (Marion)
Toomey, Miss. Ellen
Baclini, Miss. Helene Barbara
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Strandberg, Miss. Ida Sofia
Hirvonen, Miss. Hildur E
Turkula, Mrs. (Hedwig)
Lefebre, Miss. Jeannie
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Eustis, Miss. Elizabeth Mussey
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Canavan, Miss. Mary
O'Sullivan, Miss. Bridget Mary
Laitinen, Miss. Kristina Sofia
Maioni, Miss. Roberta
Quick, Mrs. Frederick Charles (Jane Richards)
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Lemore, Mrs. (Amelia Milley)
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Perreault, Miss. Anne
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Ridsdale, Miss. Lucy
Quick, Miss. Phyllis May
Peter, Mrs. Catherine (Catherine Rizk)
Cacic, Miss. Marija
Hart, Miss. Eva Miriam
LeRoy, Miss. Bertha
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
Andersson, Miss. Ingeborg Constanzia
Andersson, Miss. Sigrid Elisabeth
Beane, Mrs. Edward (Ethel Clarke)
Ohman, Miss. Velin
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Meanwell, Miss. (Marion Ogden)
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Kelly, Miss. Mary
Garside, Miss. Ethel
Silvey, Mrs. William Baird (Alice Munger)
Caram, Mrs. Joseph (Maria Elias)
Christy, Miss. Julie Rachel
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Taussig, Miss. Ruth
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Bourke, Miss. Mary
Leitch, Miss. Jessie Wills
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Shutes, Miss. Elizabeth W
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
Murphy, Miss. Margaret Jane
Herman, Miss. Alice
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
Becker, Miss. Marion Louise
Longley, Miss. Gretchen Fiske
Skoog, Miss. Mabel
Davis, Miss. Mary
Panula, Mrs. Juha (Maria Emilia Ojala)
Sagesser, Mlle. Emma
Skoog, Miss. Margit Elizabeth
Baclini, Miss. Eugenie
Stanley, Miss. Amy Zillah Elsie
Doling, Miss. Elsie
O'Leary, Miss. Hanora "Norah"
Hegarty, Miss. Hanora "Nora"
Bourke, Mrs. John (Catherine)
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Turja, Miss. Anna Sofia
Goodwin, Mrs. Frederick (Augusta Tyler)
Peters, Miss. Katie
Madill, Miss. Georgette Alexandra
Karun, Miss. Manca
Mullens, Miss. Katherine "Katie"
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Barbara, Miss. Saiide
Kelly, Mrs. Florence "Fannie"
Cleaver, Miss. Alice
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Endres, Miss. Caroline Louise
Troutt, Miss. Edwina Celia "Winnie"
Harper, Miss. Annie Jessie "Nina"
Renouf, Mrs. Peter Henry (Lillian Jefferys)
Mannion, Miss. Margareth
Ilmakangas, Miss. Pieta Sofia
Allen, Miss. Elisabeth Walton
Ford, Mrs. Edward (Margaret Ann Watson)
Ryerson, Miss. Susan Parker "Suzette"
Sinkkonen, Miss. Anna
Wells, Miss. Joan
Herman, Mrs. Samuel (Jane Laver)
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
Carter, Mrs. William Ernest (Lucile Polk)
Hogeboom, Mrs. John C (Anna Andrews)
Mangan, Miss. Mary
Mack, Mrs. (Mary)
Hocking, Mrs. Elizabeth (Eliza Needs)
Emanuel, Miss. Virginia Ethel
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
Ayoub, Miss. Banoura
Dick, Mrs. Albert Adrian (Vera Gillespie)
Sjoblom, Miss. Anna Sofia
Sage, Miss. Stella Anna
Leader, Dr. Alice (Farnham)
Osman, Mrs. Mara
Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)
Collyer, Mrs. Harvey (Charlotte Annie Tate)
Pettersson, Miss. Ellen Natalia
Chambers, Mrs. Norman Campbell (Bertha Griggs)
Andersson, Miss. Ebba Iris Alfrida
Heininen, Miss. Wendla Maria
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
Moor, Mrs. (Beila)
Stone, Mrs. George Nelson (Martha Evelyn)
Yasbeck, Mrs. Antoni (Selini Alexander)
Compton, Miss. Sara Rebecca
Serepeca, Miss. Augusta
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Boulos, Miss. Nourelain
Lines, Miss. Mary Conover
Carter, Mrs. Ernest Courtenay (Lilian Hughes)
Aks, Mrs. Sam (Leah Rosen)
Wick, Mrs. George Dennick (Mary Hitchcock)
Baclini, Mrs. Solomon (Latifa Qurban)
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
Sage, Miss. Dorothy Edith "Dolly"
Bystrom, Mrs. (Karolina)
Duran y More, Miss. Asuncion
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
Abelson, Mrs. Samuel (Hannah Wizosky)
Najib, Miss. Adele Kiamie "Jane"
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Shelley, Mrs. William (Imanita Parrish Hall)
Dahlberg, Miss. Gerda Ulrika
Rice, Mrs. William (Margaret Norton)
Graham, Miss. Margaret Edith
Johnston, Miss. Catherine Helen "Carrie"

In [208]:
namesss=np.array([])
for st in m:
        namesss=np.append(namesss, st[st.find("Miss. ")+5:st.find("(")])

In [218]:
fn = data[data['Sex'] == 'female']['Name']
def extract_first_name(name):
    """
    Функция извлечения first name from name
    :param name: name
    :return: first name
    """
    # первое слово в скобках
    m = re.search(".*\\((.*)\\).*", name)
    if m is not None:
        return m.group(1).split(" ")[0]
    # первое слово после Mrs. or Miss. or else
    m1 = re.search(".*\\. ([A-Za-z]*)", name)
    return m1.group(1)

# получаем имя с максимальной частотой
r = fn.map(lambda full_name: extract_first_name(full_name)).value_counts()
print(r)

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         6
Helen         5
Bertha        5
Emily         4
Marie         4
"Mrs          4
Catherine     4
Ellen         4
Annie         4
Florence      4
Marion        4
Augusta       4
Maria         4
Ada           4
Lillian       3
Madeleine     3
Amelia        3
Ida           3
Edith         3
Elisabeth     3
Hanora        3
Jane          3
Katherine     3
Rosa          2
Bridget       2
Lily          2
             ..
Eliza         1
Margareth     1
Katriina      1
Lyyli         1
Elin          1
Stina         1
Ann           1
Malake        1
Robina        1
Brigdet       1
Helena        1
Carla         1
Torborg       1
Tillie        1
Mara          1
Elise         1
Alfrida       1
Nourelain     1
Edwiga        1
Manca         1
Aloisia       1
Gertrude      1
Ingeborg      1
Wendla        1
Ellis         1
Daisy         1
Juliet        1
Juliette      1
"Mary"        1
Sara          1
Name: Name, dtype: int64

In [217]:
fn.map(lambda full:extract_first_name(full))

PassengerId
2        Florence
3           Laina
4            Lily
9       Elisabeth
10          Adele
11     Marguerite
12      Elizabeth
15          Hulda
16           Mary
19         Emelia
20         Fatima
23           Anna
25        Torborg
26          Selma
29          Ellen
32          Marie
33           Mary
39        Augusta
40         Jamila
41        Johanna
42        Dorothy
44        Simonne
45       Margaret
48        Bridget
50       Josefine
53           Myna
54      Elizabeth
57          Emily
59      Constance
62         Amelie
          ...
808         Ellen
810        Bertha
814          Ebba
817        Wendla
821         Clara
824         Beila
830        Martha
831        Selini
836          Sara
843       Augusta
850        Edwiga
853     Nourelain
854          Mary
855        Lilian
856          Leah
857          Mary
859        Latifa
863      Margaret
864       Dorothy
866      Karolina
867      Asuncion
872        Sallie
875        Hannah
876         Adele
880          Lily
881       Imanita
883         Gerda
886      Margaret
888      Margaret
889     Catherine
Name: Name, dtype: object

In [ ]:
re.search()