In [206]:
import pandas as pd
import numpy as np
import numpy as np
from sklearn.tree import DecisionTreeClassifier
data=pd.read_csv('C:/Users/xx/Downloads/_ea07570741a3ec966e284208f588e50e_titanic (2).csv',index_col='PassengerId')

In [126]:
data=data.dropna(axis=0,how='any')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [215]:
subdata=data[['Survived','Pclass','Fare','Age','Sex']]

In [216]:
subdata.head()

             Survived  Pclass     Fare   Age     Sex
PassengerId
1                   0       3   7.2500  22.0    male
2                   1       1  71.2833  38.0  female
3                   1       3   7.9250  26.0  female
4                   1       1  53.1000  35.0  female
5                   0       3   8.0500  35.0    male

In [219]:
X=subdata.dropna(axis=0,how='any')[['Pclass','Fare','Age','Sex']]
y=subdata.dropna(axis=0,how='any')['Survived']
print X.shape
print y.shape

(714, 4)
(714L,)

In [220]:
X=X.replace(to_replace="male",value=0)
X=X.replace(to_replace="female",value=1)
X.head()

             Pclass     Fare   Age  Sex
PassengerId
1                 3   7.2500  22.0    0
2                 1  71.2833  38.0    1
3                 3   7.9250  26.0    1
4                 1  53.1000  35.0    1
5                 3   8.0500  35.0    0

In [222]:
clf=DecisionTreeClassifier(random_state=241)
clf.fit(X,y)
clf.feature_importances_

array([ 0.14751816,  0.29538468,  0.25658495,  0.30051221])