In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data/abalone.csv')

In [3]:
data.head()

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [4]:
data.Sex=data.Sex.map(lambda x: 1 if x=='M' else (-1 if x=='F' else 0))

In [5]:
data.head()

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [28]:
X,y=data[range(0,8)],data[[-1]]

In [29]:
X.head()

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055

In [30]:
y.head()

   Rings
0     15
1      7
2      9
3     10
4      7

In [33]:
import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import check_cv

In [38]:
import numpy as np
from sklearn.cross_validation import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import GridSearchCV
kf=KFold(y.size,n_folds=5,random_state=1,shuffle=True)
clf=RandomForestRegressor()
grid = {'n_estimators': np.arange(21,26,1)}
g=GridSearchCV(clf,grid,scoring='r2',cv=kf)
g.fit(X,y)

GridSearchCV(cv=sklearn.cross_validation.KFold(n=4177, n_folds=5, shuffle=True, random_state=1),
       error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': array([21, 22, 23, 24, 25])},
       pre_dispatch='2*n_jobs', refit=True, scoring='r2', verbose=0)

In [39]:
for a in g.grid_scores_:
    print a.parameters,'score= ', a.mean_validation_score

{'n_estimators': 21} score=  0.518985485373
{'n_estimators': 22} score=  0.516612520638
{'n_estimators': 23} score=  0.515211296346
{'n_estimators': 24} score=  0.518108682956
{'n_estimators': 25} score=  0.523292313675